@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto Mono";
    font-weight: 400;
    src: url("./assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto Mono";
    font-weight: 500;
    src: url("./assets/fonts/RobotoMono-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-UltraLight.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-Heavy.ttf") format("truetype");
  }

  @font-face {
    font-family: "Morabba";
    font-weight: 950;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Morabba-Black.ttf") format("truetype");
  }

  :root {
    @apply bg-ui-bg-subtle text-ui-fg-base antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Morabba", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }

  * {
    font-family: "Morabba", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}

@layer components {
  .worfklow-grid {
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background: repeat;
  }
}

.worfklow-grid {
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background: repeat;
}

.dark .rdp-selected {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.dark .rdp-range_end {
  border-radius: 0 50% 50% 0 !important;
  background-image: none;
}

.dark .rdp-range_start {
  border-radius: 50% 0 0 50% !important;
  background-image: none;
}
